/* This sets the colour of the main body area */
body {
  width: 1250px;
  height: 754px;
  background-color: #CD6155;
}


/*These are the settings for the navigation menus */
.nav ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
}
.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}
 
.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
 
.nav a:hover {
  background-color: #005f5f;
}
 
.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}
 
@media screen and (min-width: 600px) {
  .nav li {
    width: 220px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }
 
  /* Option 1 - Display Inline */
  .nav li {
    display: inline-block;
    margin-right: -4px;
  }

}

/* These are the setting for the main picture of my on the homepage */
.pic {
    margin: auto;
    width: 52%;
    border: 3px solid #666633;
    padding: 10px;
}

/* These are the setting for box which has my name */
h1.name {
	color:#0FEA60;background-color:brown;
	text-align: center;
	margin: auto;
    width: 55%;
    border: 3px solid #666633;
    padding: 10px;
}


/* These are the setting for the main picture of my on the homepage */
/* .pic2 {
   margin:auto;
   width:1000px;
   height:1000px;
}
*/




}
h1.mail {
color:black;background-color:red;
}

p.header {
	font-weight: bold;
	text-align: center;
	font-size: 300%;
}

p.p1 {
    font-size: 180%;
    color: #CC0000;
    font-style: oblique;
    font-family: "Comic Sans MS", Times, serif;
}

p.p2 {
    font-size: 180%;
    color: yellow;
    font-style: oblique;
    font-family: "Comic Sans MS", Times, serif;
}

p.p3 {
    font-size: 180%;
    color: green;
    font-style: oblique;
    font-family: "Comic Sans MS", Times, serif;
}







		* { margin: 0; padding: 0; }
        .clear { clear: both; }
        #cv { width: 800px; margin: 40px auto 60px; }
        h1 { margin: 0 0 16px 0; padding: 0 0 16px 0; font-size: 42px; font-weight: bold; letter-spacing: -2px; border-bottom: 1px solid #999; }
        h2 { font-size: 20px; margin: 0 0 6px 0; position: relative; }
        p { margin: 0 0 16px 0; }
        ul { margin: 0 0 32px 17px; }
        dt { font-style: italic; font-weight: bold; font-size: 18px; text-align: right; padding: 0 26px 0 0; width: 150px; float: left; height: 100px; border-right: 1px solid #999;  }
        dd { width: 600px; float: right; }
        dd.clear { float: none; margin: 0; height: 15px; }